/.vs
/.vscode
/cdk-2.2.jar
/CDK_test.py
/chemconvert.py
/chemfuncs.py
/CMPD_RXN_tools
/file_name.png
/HG_figure.py
/HG_rdkit.py
/models
/tests
/test_checkpoints_reg
/V00_Data_Km_prep_1.py
/V00_Data_Km_prep_2.py
/V00_Data_Km_prep_3.py
/V00_Data_Km_prep_4.py
/W00_Data_kcat_prep.py
/W00_Data_Ki_prep.py
/X_DataProcessing
/X_Deprecated
/__pycache__